<!doctype html>
<html>
  <head>
    <title>Registration page</title>
  </head>

  <body>

    <form method="post">
      {{ registration_form.name.label }} {{ registration_form.name(placeholder='Name') }} <br />
      {{ registration_form.email.label }} {{ registration_form.email(placeholder='Email') }} <br />
      {{ registration_form.password.label }} {{ registration_form.password }} <br />
      {{ registration_form.password_again.label }} {{ registration_form.password_again }} <br />
      {{ registration_form.csrf_token }} 
      <input type="submit" value="Join">
      <a href="{{ url_for('login') }}" class="reg-link">Login</a> 
    </form>

  </body>
</html>
