<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> 
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Online Treasure Hunt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/jquery.dynatable.css">
    
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-md-12">
              <div class="col-md-4"><h3><a class="logo" href="/">Online Treasure Hunt</a></h3></div>
                <ul class="menu col-md-offset-3 col-md-5">
                  {% if current_user.name %}
                  <a href="/leaderboard?sorts[rank]=1"><li>Leaderboard</li></a>
                    <a href="{{url_for('account')}}"><li>Account</li></a>
                    <a href="{{url_for('profile', id=current_user.id)}}"><li>Profile</li></a>
                    <li><a href="{{url_for('logout')}}">Logout</a> &nbsp({{current_user.name}})</li>
                  {% else %}
                  <a href="/leaderboard?sorts[rank]=1"><li>Leaderboard</li></a>
                    <a href="{{url_for('login')}}"><li>Login</li></a>
                    <a href="{{url_for('register')}}"><li>Register</li></a>
                  {% endif %}
                </ul>
            </div>
        </header>
		
    {% set messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
		<div class="alert-box 
      
        alert-green
      
      " title="Click to hide" style="margin: auto;">
      <p>{{messages['message']}}{% for category, message in messages %}{{message}}{% endfor %}</p>
		</div>
    {% endif %}
        
        <div class="content col-md-12">
            <aside class="col-md-2">
                <div class="side-1">
                    
                    <ul class="side-menu">
                        <li class="menu-title">Top scorers</li>
                        {% set i = 0 %}
                        {% for user in top_users | sort(attribute='rank') %}
                          {% if i < 10 %}
                          <li><a href="{{url_for('profile', id=user.id)}}">{{user.profile_link}}</a> ({{user.points}})</li>
                            {% set i = i + 1 %}
                          {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="side-2">
                    <ul class="side-menu">
                      {% if current_user.user_type == 'mod' %}
                        <li class="menu-title">Alloo</li>
                        {% for user in solved_by_users %}
                          <a href="{{url_for('profile', id=user.id)}}"><li>user.name</li></a>
                        {% endfor %}
                      {% else %}
                        <li class="menu-title">&nbsp</li>
                        <a href="#"><li></li>&nbsp</a>
                        <a href="#"><li></li>&nbsp</a>
                        <a href="#"><li></li>&nbsp</a>
                        <a href="#"><li></li>&nbsp</a>
                        <a href="#"><li></li>&nbsp</a>
                      {% endif %}
                    </ul>
                </div>
            </aside>
            <div class="main-content col-md-10">


              {% block maincontent %}{% endblock %}


            </div>
        </div>
    </div> 
	<footer>
		<p>&copy; Copyright <a href="http://www.mindkraft.org">Mindkraft 2015</a></p>
	</footer>
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script>
    $(document).ready(function(){
        //To close alert div
        var alert = $('div.alert-box');
        alert.click(function(){
            alert.hide();
        });
        
        //TO convert text to img tag
        var imgLink = $('a.post-img');
        imgLink.each(function(){
            var imgName = imgLink.text();
            if(imgName){
                imgLink.html('<img src="/static/img/'+imgName+'.jpg">');
                imgLink.attr('href','/static/img/'+imgName+'.jpg');
            }
        });
    });
    </script>
{% block scripts %}{% endblock scripts %}	
</body>
</html>
