{% extends "base.html" %}

{% block maincontent %}
<div class="row">

<!--<img src="http://fc01.deviantart.net/fs70/i/2012/176/2/2/sherlock_wallpaper_by_cspringall-d54srld.png" alt=""></img>-->

<h2><b>The event has ended!</b></h2><br />

It takes exceptional patience and observation to complete an event such as this one. We know because treasure hunts are really frustrating sometimes. <br /><br />

Everyone loves sherlock Holmes and all who do, always wanted to be one. We really appreciate the following participants for their efforts and skills of observations. <br /><br />

1. <a href="/profile/241">Abdul</a> - The Sherlock of the event<br />
2. <a href="/profile/361">Nirmal</a> - The Watson of the event<br /><br />

Congratulations detectives! 

We would also like to appreciate the other <a href="/leaderboard?sorts[rank]=1">top scorers</a> and all those who attempted for their abundant efforts. Feel free to drop your valuable feedback at <b>mindkraft.treasure.hunt@gmail.com</b><br /><br />

<b>P.S</b> : Loved the story and enjoyed the hunt? Ready to unlock what's <i>Sherlocked</i>, again? Stay tuned and get ready to get an email from Sherlock Holmes himself.
<!--P. S, another post will be updated soon about the team. If you think the event was good enough kindly give us your feedback on the post.-->
{% endblock %}
