{% extends "base.html" %}

{% block maincontent %}
<div class="row">
	
	<table id="leaderboard" class="table table-bordered">
		<thead>
			<th>College</th>
			<th>Level</th>
			<th>Name</th>
			<th>Points</th>
			<th>Rank</th>
		</thead>
		<tbody>
		</tbody>
	</table>
   
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.dynatable.js"></script>
<script>
$(document).ready(function(){
    var json = (function () {
    var json = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': '{{ url_for("leaderboard_api") }}',
        'dataType': "json",
        'success': function (data) {
            json = data;
        }
    });
    return json;
})(); 
    
    var final = JSON.stringify(json); 
    console.log(final);
    
/*$.dynatableSetup({
  // global default options here
  features: {
    paginate: false,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: true
  }
});*/

$('#leaderboard').dynatable({
  dataset: {
    records: json
  }
});

/*$.ajax({
  url: '{{ url_for("leaderboard_api") }}',
  success: function(data){
    $('#leaderboard').dynatable({
      dataset: {
        records: data
      }
    });
  }
});*/
});

</script>
{% endblock scripts %}
