{% extends "base.html" %}

{% block maincontent %}
<div class="main-content col-md-10">
   
   <!-- Begin Post Wrapper -->
    <div class="post-wrapper col-md-12 ">
       
        <div class="post-username col-md-4"><h4>{{post.posted_by}} <span style="color: brown">(Moderator)</span></h4></div>
        
        <div class="post-head col-md-12">
          <div class="post-title col-md-9">{{post.title}}</div>
          <div class="points col-md-3">
            {% if post.status %}
              <strong>Points:</strong> <span class="green">{{post.points}}</span>
            {% endif %}
          </div>
          <div class="req-level col-md-3">
            {% if post.status %}
              <strong>Level:</strong> <span class="green">{{post.level}}</span>
            {% endif %}
          </div>
        </div>
        
        <div class="post-body col-md-12">
          <div class="post-desc col-md-9">{{post.description}}</div>
          <div class="post-status col-md-3 green">{{post.status}}</div>
        </div>
        
        <div class="post-meta col-md-12">
          <div class="post-date col-md-3">Posted at {{post.created_at}}</div>

          {% if current_user.user_type == 'mod' %}
           <form action="" class="col-md-offset-5 col-md-1">
               <input type="text" class="btn btn-primary btn-xs col-md-12" value="Edit">
           </form>
           <form action="" class="col-md-1">
               <input type="text" class="btn btn-primary btn-xs col-md-12" value="Delete">
           </form>
          {% endif %}

          {% if post.problem_type %}
            <form action="{{request.path}}?solution=true" method="post" class="comment-form col-md-10">
                {{ submission_form.solution(placeholder='Solution') }}<br />
                {{ submission_form.csrf_token }}
                <input type="submit" class="btn btn-primary btn-sm col-md-offset-11 col-md-1" value="Submit">
            </form>
          {% endif %}
       </div>
       
    </div>
    <!-- End Post Wrapper -->
    
    <!-- Comment Box Form -->
    <form action="{{request.path}}" method="post" class="comment-form col-md-10">
        {{ comment_form.description.label }} {{ comment_form.description(rows='3', cols=100, class='comment-box col-md-12', placeholder='Add a comment') }}<br />
        {{ comment_form.csrf_token }}
        <input type="submit" class="btn btn-primary btn-sm col-md-offset-11 col-md-1" value="comment">
    </form>
    
    <hr class="post-divide col-md-10">
    
    <div class="col-md-2">
        <h3>Comments</h3>
    </div>
    
    <div class="comment-wrapper col-md-12 ">


      {% for comment in comments %}
        {% if current_user.user_type != 'mod' and comment.status == 'accepted' %}
        <div class="comment-username col-md-4"><h4>{{comment.id_user_posted_by.name}}<span style="color: brown">
                        {% if comment.id_user_posted_by.user_type == 'mod' %}    
                        (Moderator)
                        {% endif %}
                
                
                </span></h4></div>
            
            <div class="comment-body col-md-12">
              <div class="comment-desc col-md-11">{{comment.description}}</div>
            </div>
            
            <div class="comment-meta col-md-12">
              <div class="comment-date col-md-3">Posted at {{comment.created_at}}</div>

            </div>

          {% elif current_user.user_type == 'mod' %}
            <div class="comment-username col-md-4"><h4>{{comment.id_user_posted_by.name}}<span style="color: brown">
                        {% if comment.id_user_posted_by.user_type == 'mod' %}    
                        (Moderator)
                        {% endif %}
                    
                    </span></h4></div>
            
            <div class="comment-body col-md-12">
              <div class="comment-desc col-md-11">{{comment.description}}</div>
            </div>
            
            <div class="comment-meta col-md-12">
              <div class="comment-date col-md-3">Posted at {{comment.created_at}}</div>

            </div>

            {% if comment.status == '' %}
               <form action="/comments/{{comment.id}}/accept" class="col-md-offset-3 col-md-1">
                   <input type="submit" class="btn btn-success btn-xs col-md-12" value="Accept">
               </form>
               <form action="/comments/{{comment.id}}/reject" class="col-md-1">
                   <input type="submit" class="btn btn-danger btn-xs col-md-12" value="Reject">
               </form>
            {% endif %}
          {% endif %}
      {% endfor %}


    </div>
    <hr class="post-divide col-md-10"> <!-- Comment division line -->
    
</div>
{% endblock %}
