{% extends "base.html" %}

{% block maincontent %}
<div class="row">
   
    <form action="{{request.url}}" method="post" class="form-horizontal acc-form col-md-6">
     <legend>Create new password</legend>
      <div class="form-group">
        <div class="col-md-10">
            {{ password_form.password(placeholder="New password", class="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
            {{ password_form.password_again(placeholder="New password again", class="form-control")}}
            {{ password_form.csrf_token }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Create password</button>
        </div>
      </div>
    </form>
   
</div>
{% endblock %}
