{% extends "base.html" %}

{% block maincontent %}
<div class="main-content col-md-10">
   
  1. Just to send emails to everyone, type 'all' in the recipients field. <br />
  2. For multiple recipients, use a comma to separate the email ids like : mail@mail.com, two@mail.com
  3. Just to make sure, add your email id to the recipients list to confirm the emails are sent <br /><br />
  <form method="POST">
    Recipients : <input type="text" name="recipients"></input><br />
    Title : <input type="text" name="title"></input><br />
    Body : <br />
    <textarea name="body"></textarea><br />
    <input type="submit"></input>
  </form>
    
</div>
{% endblock %}

